<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FriendOrganizerDb"
         connectionString="Data Source=tcp:s12.winhost.com;Initial Catalog=DB_100072_eastwest;User ID=DB_100072_eastwest_user;Password=;Integrated Security=False;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
